#For ORM
DATABASE_CLIENT= 
DATABASE_URL=
DATABASE_FILENAME=

#For Supabase Client
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_HOSTNAME=
SUPABASE_BUCKET_NAME=
SUPABASE_BUCKET_URL=

RESEND_API_KEY=
HR_EMAIL=

STRAPI_API_TOKEN=
APP_KEYS=
ADMIN_JWT_SECRET=
API_TOKEN_SALT=
TRANSFER_TOKEN_SALT=
JWT_SECRET=

#Axiom
NEXT_PUBLIC_AXIOM_DATASET=
NEXT_PUBLIC_AXIOM_TOKEN=